$white-color: #fff;

@mixin flexBoxCustom($just, $align, $direct: unset) {
   display: flex;
   justify-content: $just;
   align-items: $align;
   flex-direction: $direct;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all 0.3s linear;
}

a {
   text-decoration: none;
}

li,
ul {
   list-style: none;
}
